body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f59f1f;
}

.Logo {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}
.Logo h1{
  color: black;
}

.Menu {
  list-style: none;
  display: flex;
}
.Menu li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.Option {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

.ActiveOption {
  color: #ff4500;
}

.cart-number {
  background-color: #ff4500;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 5px;
  text-decoration: none;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: auto;
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ff4500;
}

.products-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  max-width: 250px;
  margin: 15px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-price {
  font-weight: bold;
}

.product-counter {
  margin-top: 10px;
}

.card {
  width: 400px;
  margin: 20px;
}

.product {
  margin: 20px;
}

.container-cart {
  padding: 20px;
}

.title-cart {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.about-us {
  padding: 20px;
}

.contact-container {
  padding: 20px;
}

.main-title {
  margin-bottom: 20px;
}